@font-face {
	font-family: FUNKHOUS;
	font-display: swap;
	src: url("../fonts/FUNKHOUS.woff2") format("woff2"), url("../fonts/FUNKHOUS.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
